/** Variables **/

/** Font size **/
$font-12: 12px;
$line-height-12: 16px;
$font-14: 14px;
$line-height-14: 22px;
$font-16: 16px;
$line-height-16: 24px;
$font-size-24: 24px;
$line-height-24: 30px;

/** Colors **/
$blue: #005eb8;
$blue-1: #17262A;
$blue-2: #232F34;
$blue-3: #344955;
$blue-4: #4A6572;
$blue-5: #B5C2CD;
$turquoise-1: #00B0B9;
$turquoise-2: #4A999D;
$turquoise-3: #4ff8ff;
$gray-1: #000203;
$gray-2: #1e1e1e;
$gray-3: #4b4b4b;
$gray-4: #555555;
$gray-5: #9B9BA1;
$gray-6: #f4f4f4;
$gray-7: #fafaf9;
$white: #fff;
$black: #000;
$error: #FFC107;